<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
  <title>Vue Basic Component</title>
</head>

<body>
  <div id="app">
    <!-- My Apple -->
    <div>
      <h2>My Apple</h2>
      <ul>
        <my-apple></my-apple>
      </ul>
    </div>
    <hr>

    <!-- My Animals -->
    <div>
      <h2>My Animals</h2>
      <h4>my-animals for</h4>
      <ul>
        <my-animals v-for="animal in animals" :receive="animal"></my-animals>
      </ul>
      <h4>li for</h4>
      <ul>
        <li v-for="animal in animals">{{ animal.name }}</li>
      </ul>
    </div>

  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="component.js " charset="UTF-8"></script>
</body>

</html>